{% extends 'layouts/default.njk' %}

{% block content %}
  <div>
    <form action="/login" method="post">
      <div>
        <label for="username">Username</label>
        <input type="email" name="username" id="username">
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
{% endblock %}
